<div class="header">
    <div class="bg-image img4"></div>
    <!-- <div class="bg-image img6"></div> -->
    <!-- <div class="bg-image img5"></div> -->
    <div class="bg-image img1"></div>
    <div class="bg-image img2"></div>
    <div class="bg-image img3"></div>

    <div class="bg-text">Juan Camilo Céspedes Romero</div>

</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <h2>Acerca de mi: </h2>
        <h5>Photo of me:</h5>
        <div class="fakeimg"><img class="photoMe" src="../../../assets/img/yo.jpg" width="50%" height="100%" alt="Juan Camilo"></div>
        <p>Hola soy Camilo,
            me apasiona la tecnología y como evoluciona en mundo en torno a ella, por lo cual mantengo curiosidad respecto a las nuevas tecnologías y como puedo implementarla en mis proyectos.
            <br>
            <br>
            El desarrollo de software ha sido uno de las ramas que mas ha marcado mi desarrollo profesional, aplicando metodologías ágiles, buenas practicas como lo son patrones de diseño y en general arquitectura limpia. Por ello y haciendo uso de lenguajes de programación como Java, Python, Typescript, JavaScript y frameworks como Django, Flask y Node.js, me he propuesto realizar proyectos como aplicaciones web para cines y tiendas. Gracias a esto, también realice un gran acercamiento al manejo de bases de datos SQL como noSQL encontrando por primera vez la necesidad de encontrar las tecnologías, modelos y patrones que mejor se adaptan al problema a resolver.
            <br>
            <br>
            Por ello me encamine en el aprendizaje autodidacta paralelo al desarrollo de mi pregrado como ingeniero de sistemas, participando en diplomados, como MisionTic, y literatura como CleanCode y Designing Data-Intensive Applications, que me permitan mantenerme actualizado manteniendo buenas practicas que permitan un código mantenible, escalable y confiable. 
            <br>
            <br>
            Conversemos de nuevas tecnologías y buenas practicas o dame tu opinión a</p>
        <h3 class="mt-4">Algunos Enlaces: </h3>
        <p>En ellos me puedes encontrar.</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2020</h5>
        <div class="fakeimg">Fake Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  
        <h2 class="mt-5">TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2020</h5>
        <div class="fakeimg">Fake Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div>
    </div>
  </div>
  
  <div class="mt-5 p-4 bg-dark text-white text-center">
    <p>Footer</p>
  </div>


<!-- 
  <div class="card border-0">
    <div class="position-relative text-white">

      <div class="card-img-overlay three"><span class="badge badge-light text-uppercase">Famous</span></div>

      <div class="--card-smooth-caption">
        <div class="d-flex justify-content-between align-items-center">
          <div class="mr-auto">
            <h5 class="card-title text-white">Smooth caption</h5>
            <h6 class="card-subtitle text-white">Alternative caption</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <p class="card-text"> Minim dolor in amet nulla laboris enim dolore consequat proident fugiat culpa eiusmod proident sed excepteur excepteur magna irure ex officia ea sunt in incididunt.</p>
    </div>

    <div class="card-footer">
      <div class="media align-items-center">
        <div class="media-body"><a class="card-link text-primary read-more" href="javascript://">Read More</a></div>
        <div class="footerright">
          <div class="tnlink3"><i class="fas fa-heart" aria-hidden="true"></i></div>
          <div class="tnlink3"><i class="fas fa-share-nodes" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>

  </div> -->
