.header{
    height: 400%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  


.bg-image {
    /* Full height */
    height: 25%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Images used */
  .img1 { background-image: url("../../../assets/img/20221226_193754.jpg"); }
  .img2 { background-image: url("../../../assets/img/IMG_20210711_155916.jpg"); }
  .img3 { background-image: url("../../../assets/img/20220714_053426.jpg"); }
  .img4 { background-image: url("../../../assets/img/20220716_062214.jpg"); }
  /* .img5 { background-image: url("../../../assets/img/IMG-20210122-WA0020.jpg"); }
  .img6 { background-image: url("../../../assets/img/IMG-20210122-WA0003.jpg"); } */
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #f1f1f1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 500px;
    padding: 20px;
    text-align: center;
  }
  #me{
    width: 100px;
    height: 100px;

  }
  .fakeimg {
    height: 200px;
    background: #aaa;
    /* position: relative; */
    align-items: flex-start;
  }
  .photoMe{
    border-radius: 50%;
    
    
  }
  .p{
    align: center;
  }
  