.header{
    height: 400%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  


.bg-image {
    /* Full height */
    height: 25%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Images used */
  .img1 { background-image: url("../../../assets/img/20221226_193754.jpg"); }
  .img2 { background-image: url("../../../assets/img/IMG_20210711_155916.jpg"); }
  .img3 { background-image: url("../../../assets/img/20220714_053426.jpg"); }
  .img4 { background-image: url("../../../assets/img/20220716_062214.jpg"); }
  /* .img5 { background-image: url("../../../assets/img/IMG-20210122-WA0020.jpg"); }
  .img6 { background-image: url("../../../assets/img/IMG-20210122-WA0003.jpg"); } */
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #f1f1f1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 500px;
    padding: 20px;
    text-align: center;
  }
  #me{
    width: 100px;
    height: 100px;

  }
  .fakeimg {
    height: 200px;
    background: #aaa;
    /* position: relative; */
    align-items: flex-start;
  }
  .photoMe{
    border-radius: 50%;
    
    
  }
  .p,h1,h2,h3,h4{
    align: center;
    font-family: luminari;
  }
  .compras{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.div-compra{
    margin: auto;
    margin-top: 15px;
    /*background-color: rgb(214, 166, 166);*/
    background-color:#566573;
    width: 80%;
    border-radius: 15px;
    transition:  all 0.4s;
}
.card-atributes{
  float: left;
  width: 33.33%;
  margin: auto;
  margin-top: 15px;
  /*background-color: rgb(214, 166, 166);*/
  background-color:#dc7633;
  border-radius: 15px;
  transition:  all 0.4s;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}
.div-enlaces-card{
    margin: auto;
    margin-top: 15px;
    /*background-color: rgb(214, 166, 166);*/
    background-color: #d5dbdb ;
    width: 100%;
    border-radius: 10px;
    transition:  all 0.4s;
}
.div-enlaces-card:hover{
    transform: translateY(-5px);
    box-shadow: 2px 12px 16px rgba(0,0,0,0.2);
}
.div-text-card{
   margin: auto;
    margin-top: 15px;
    /*background-color: rgb(214, 166, 166);*/
    background-color: #d5dbdb ;
    width: 90%;
    border-radius: 10px;
    transition:  all 0.4s;
}
.div-text-card:hover{
    transform: translateY(-5px);
    box-shadow: 2px 12px 16px rgba(0,0,0,0.2);
}
.div-compra:hover{
    transform: translateY(-5px);
    box-shadow: 2px 12px 16px rgba(0,0,0,0.2);
}
.img-compra{
    display: block;
    margin: auto;
    margin-top: 15px;
    justify-content: center;
    width: 70%;
    border-radius: 15px;
    transition:  all 0.4s;
}
.img-compra-persona{
  display: block;
  margin: auto;
  margin-top: 15px;
  justify-content: center;
  width: 70%;
  border-radius: 60%;
  transition:  all 0.4s;
}
.img-compra-persona:hover{
  transform: translateY(-5px);
  box-shadow: 2px 12px 16px rgba(0,0,0,0.2);
}
.div-video{
  display: block;
    margin: auto;
    margin-top: 15px;
    justify-content: center;
    width: 70%;
    border-radius: 15px;
    transition:  all 0.4s;
}
.div-video:hover{
  transform: translateY(-5px);
  box-shadow: 2px 12px 16px rgba(0,0,0,0.2);
}
.img-compra:hover{
    transform: translateY(-5px);
    box-shadow: 2px 12px 16px rgba(0,0,0,0.2);
}
.cantidad{
    outline: none;
    margin-left: 10px;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    background-color: rgb(230, 198, 198);
}
.comprar{
    display: block;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 5px;
    border: none;
    background-color: rgb(230, 198, 198);
    cursor: pointer;
}
.comprar:hover{
    background-color: rgb(248, 222, 222);
    transition: 0.4s;
}